[submodule "Time_Series_Models"]
	path = Time_Series_Models
	url = https://github.com/EducationShinyAppTeam/Time_Series_Models
[submodule "Time_Series_Decomposition"]
	path = Time_Series_Decomposition
	url = https://github.com/EducationShinyAppTeam/Time_Series_Decomposition
